/* ------------------------------------------------ Reset all styles ----------------------------------------*/

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 21px 32px;
    align-items: flex-start;
}
a{
    text-decoration: none;
    color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2048px;
    background-color:"#f0f8ff";
    padding: 10px 0px 20px 0px;
}
.header__container{
    display: flex;
	flex-direction: row;
	Justify-content: space-between;
	align-items: center;
	column-gap: 30px;
    background-color:#f0f8ff;
    width: 50%;
    height: 50px;
   

}


.container__barre{
    display: flex;
	justify-content: flex-start;
	align-items: center;
    width: 473px;
    height: 39.49px;
    gap: 23px;
    padding: 11px 17px 11px 17px;
    background-color:#EEF0F2;
}
.barre__img{
    width: 17.49px;
    height: 17.49px;
    color: #635F68;
}
.barre__recherche{
    width: 71px;
    height: 17px;
    color: #AEB0B2;
}

.container__nav{
    display: flex;
	justify-content: flex-start;
	align-items: center;
    width: 260px;
    height: 39px;
    gap: 15px;
    padding: 11px 17px 11px 17px;
    background-color:#f0f8ff;
}
.nav__humburger{
    
}
.nav__img{
    
    }
.nav__title{
    font-size: 22px;
    line-height: 26.69px;
}
.header__container2{
    display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 25px;
    background-color:#f0f8ff;
    width: 50%;
    height: 50px;
   

}
.container2__menu{

}
.menu__img{
    width: 48px;
    height: 48px;
}
.container{
    display: flex;
    background-color:#f0f8ff;
    width: 100%;
    height: 900px;
}
.container__complement{
background-color:#f0f8ff;
    width: 19%;
    height: 870px;
}


.container__creer{
    background-color:white;
    width: 81%;
    height: 863px;
}