/* ------------------------------------------------ Reset all styles ----------------------------------------*/

*  {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 21px 32px;
    align-items: flex-start;
}
a{
    text-decoration: none;
    color: black;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 2048px;
    background-color: aqua;
    padding: 10px 0px 20px 0px;
}


.barre{
    display: flex;
	justify-content: flex-start;
	align-items: center;
    width: 473px;
    height: 39.49px;
    gap: 23px;
    padding: 11px 17px 11px 17px;
    background-color:#EEF0F2;
}
.barre__img{
    width: 17.49px;
    height: 17.49px;
    color: #635F68;
}
.barre__recherche{
    width: 71px;
    height: 17px;
    color: #AEB0B2;
}

.nav{
    display: flex;
	justify-content: space-between;
	align-items: center;
    width: 180px;
    height: 39px;
    gap: 15px;
    background-color: red;
}
.nav__humburger{
    width: 23px;
    height: 23px
}
.nav__img{
    width: 39px;
    height: 39px;
    }
.menu{

}
.menu__img{
    width: 48px;
    height: 48px;
}


































/*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 21px 32px;
    align-items: flex-start;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1280px;
    
    
}
.nav{
    
}


/*
.icono-menu{
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}
.icono-menu img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}
.cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66, 66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}
.active{
    transform:translate(-600px);
}
.opacity{
    background-color: rgb(0,0,0,0.5);
    transition: all .5s ease;
}
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}
.cont-menu ul li {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}
.cont-menu ul li:hover{
    background-color: rgb(228,228, 228);
    color: rgb(42,42,42);
}



/* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Inter';
	display: flex;
	flex-direction: column;
	padding: 32px 15px;
	align-items: flex-start;
}

a{
	text-decoration: none;
	color: black;
}

/*.container .container2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 2048px;
    background-color: aqua;
	
}
.container2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 2048px;
    background-color: red;
	
}